
bAntiCheat Client/.vs/bAntiCheat Client/v15/Server/sqlite3/storage.ide-wal
bAntiCheat Client/.vs/bAntiCheat Client/v15/.suo
bAntiCheat Client/.vs/bAntiCheat Client/v15/Server/sqlite3/storage.ide-shm
bAntiCheat Client/.vs/bAntiCheat Client/v15/Server/sqlite3/storage.ide-wal
